{% extends 'layout.html' %}

{% block body %}
        <h1>Éguas</h1>
        <div class="Oqs">
            <h3><strong>O que são?</strong></h3>
            <p>Uma égua é um cavalo fêmea adulto ou outro equino. Na maioria dos casos, uma égua é uma égua com mais de três anos de idade, 
                e uma potra é uma égua com três anos ou menos. Nas corridas de cavalos puro-sangue, uma égua é definida como um cavalo fêmea 
                com mais de quatro anos de idade.</p>
        </div>
        <hr>
        <div class="Car">
            <h3><strong>Caraterísticas principais</strong></h3>
            <p>Sendo égua a fêmea de um equino adulto, podemos destacar que as suas principais caraterísticas são as mesmas dos equinos.</p>
            <p>Equinos são mamíferos de médio a grande porte, com cabeças e pescoços longos com a crina. Suas pernas são finas e terminam em um casco de ungulados. 
                Eles têm caudas longas e finas; ou terminando num tufo, ou inteiramente coberta de pelos soltos. Eles geralmente são adaptados para abrir terreno, 
                de planícies e savanas, a montanhas e desertos.</p>
            <p>O pavilhão auricular (orelhas externa) de equinos são móveis, o que lhes permite localizar facilmente a origem dos sons. Eles enxergam duas cores, ou dicromacia. 
                Seus olhos são muito afastados na cabeça, dando-lhes um amplo ângulo de visão, sem perder totalmente a visão binocular. Os cavalos têm visão de duas cores, 
                ou visão dicromática, que é um pouco como é a cegueira de cor vermelho-verde em seres humanos.</p>
            <p>Equinos também tem um órgão vomeronasal, que permite que os homens a usar o reflexo flehmen, para avaliar o estado sexual de potenciais companheiros.</p>
            <p>Equinos são um dos dois únicos mamíferos (o outro é o ser humano), capaz de transpirar para o resfriamento termorregulatório, permitindo rápida corrida em longas distâncias.</p>
            <p>São herbívoros, e alimentam predominantemente de duros e fibrosos alimentos, como grama e ciperáceas. Quando necessário, eles também vão ingerir outro material vegetal, 
                como folhas, frutos, ou casca, mas normalmente pastam, não vasculham. Ao contrário de ruminantes, com seus estômagos complexos, equinos quebram celulose no 
                "intestino grosso" ou ceco, uma parte do cólon através da fermentação microbial. Sua dentição é quase completa, com incisivos cortadores e molares bem para trás, 
                atrás de um diastema. 
            </p>
        </div>
        <hr>
        <div class="Esp">
            <h3><strong>Espécies</strong></h3>
            <p>De todas as espécies existentes de equinos, as principais são:</p>
            <table>
                <tr>
                    <th>Nome da espécie</th>
                    <th>Descrição</th>
                </tr>
                <tr>
                    <td>Cavalo selvagem</td>
                    <td>Dividido entre o moderno, o de Przewalski e o cavalo europeu e asiático</td>
                </tr>
                <tr>
                    <td>Asno selvagem africano</td>
                    <td>O ancestral do asno doméstico</td>
                </tr>
                <tr>
                    <td>Zebra da planície</td>
                    <td>A raça mais comum encontrada nas planícies da África</td>
                </tr>
                <tr>
                    <td>Zebra da montanha</td>
                    <td>Ocorre nas regiões montanhosas da África do Sul e do Cabo ocidental.</td>
                </tr>
                <tr>
                    <td>Jumento asiático</td>
                    <td>Há a subespécie Equus hemionus onager, nativos do deserto da Síria, está ameaçado, devido à caça predatória.</td>
                </tr>
            </table>
            <p>Todas essas espécies fazem parte da ordem Proboscidea e família Elephantidae.</p>
        </div>
        <hr>
        <div class="Cur">
            <h3><strong>Curiosidades</strong></h3>
            <ul>
                <li>Comunicam-se por meio de linguagem corporal, podendo essa comunicação ser estendida a outros grupos, como os seres humanos.</li>
                <li>O estado emocional, desde depressão ou quando se sentem ameaçados, pode ser interpretado por meio das suas expressões corporais e faciais.</li>
                <li>Os cavalos apresentam três fases de sono: 
                    <ul>
                        <li>(1) sono superficial — mantém-se de pé, com um dos membros flexionados, orelhas relaxadas, pescoço e garupa baixos</li>
                        <li>(2) sono médio — deita-se com o peito ao solo, assim como a ponta do focinho, mantendo o pescoço erguido</li>
                        <li>(3) sono profundo — deita-se totalmente</li>
                    </ul>
                </li>        
            </ul>
        </div>
{% endblock %}