{% extends 'layout.html' %}

{% block body %}
        <h1>Engenharia</h1>
        <div class="Oqs">
            <h3><strong>O que é?</strong></h3>
            <p>Engenharia é a aplicação do conhecimento científico, econômico, social e prático, com o intuito de planejar, desenhar, construir, manter e melhorar estruturas, 
                máquinas, aparelhos, sistemas, materiais e processos. O profissional de engenharia aplica os conhecimentos matemáticos e técnicos para a criação, aperfeiçoamento e 
                implementação de utilidades que realizem uma função ou objetivo específico.</p>
            <p>Nos processos de criação, aperfeiçoamento e complementação, a engenharia conjuga os vários conhecimentos especializados no sentido de viabilizar as utilidades, 
                tendo em conta a sociedade, a técnica, a economia e o meio ambiente.</p>    
            <p>A engenharia é uma área bastante abrangente que engloba uma série de ramos mais especializados, cada qual com uma ênfase mais específica em determinados campos 
                de aplicação e em determinados tipos de tecnologia.</p>
        </div>
        <hr>
        <div class="Car">
            <h3><strong>O profissional</strong></h3>
            <p>O engenheiro é o profissional que exerce a prática de engenharia. Em muitos países, o exercício da profissão de engenheiro obriga, para além da habilitação com um 
                curso superior de engenharia, a uma licença ou certificação profissional atribuída pelo estado, por uma associação profissional, ordem ou instituição de engenheiros ou por 
                um outro tipo de órgão de regulamentação profissional. Conforme o país, aos profissionais devidamente certificados ou licenciados está reservado o uso exclusivo do título 
                profissional de "engenheiro" ou estão reservados outros títulos formais como "engenheiro profissional", "engenheiro encartado", "engenheiro incorporado", "engenheiro diplomado" 
                ou "Engenheiro Europeu".</p>
            <p>Normalmente, a lei restringe a prática de determinados atos de engenharia aos profissionais certificados e habilitados para tal, ainda que a prática dos restantes não esteja 
                sujeita a essa restrição.</p>    
            <p>Para além da certificação como engenheiro propriamente dito, em alguns países existe a certificação como técnico de engenharia ou engenheiro técnico, associada aos profissionais 
                com uma habilitação correspondente a um curso superior de 1º ciclo na área da engenharia.</p>
        </div>
        <hr>
        <div class="Esp">
            <h3><strong>Tipos de engenharias</strong></h3>
            <iframe class="video-container" width="560" height="315" src="https://www.youtube.com/embed/gRrda_evXic" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>           
            <div class="text-eng-container">
                <p>Existem mais de 100 engenharias, de entre as quais se destacam:</p>
                <ul>
                    <li>Engenharia biomédica</li>
                    <p>A Engenharia Biomédica é uma área que integra princípios das ciências exatas e ciências da saúde, desenvolvendo abordagens inovadoras aplicadas na prevenção, 
                        diagnóstico e terapia de doenças. Esta área da Engenharia está em grande expansão e se dedica ao desenvolvimento e produção de próteses, instrumentos médicos, 
                        equipamentos de diagnóstico, e ao estudo dos organismos vivos do ponto de vista da engenharia. Além disso, os Engenheiros Biomédicos estão aptos a ocupar cargos 
                        em hospitais e clínicas (administração hospitalar e engenharia clínica), indústrias e empresas da área médica (elaboração e desenvolvimento de novos equipamentos) 
                        e universidades (pesquisa). A Engenharia Biomédica é uma área multidisciplinar que conjuga conhecimentos de química, física, biologia e medicina bem como as 
                        técnicas de engenharia elétrica, engenharia mecânica, engenharia química, engenharia dos materiais, bioinformática, bioengenharia e engenharia física.</p>
                    <li>Engenharia informática</li>
                    <p>Engenharia Informática é o nome mais comum pelo qual são conhecidos, em Portugal, os cursos superiores focados em Informática que incluem também algumas cadeiras 
                        obrigatórias ditas "de bases de engenharia" (como matemáticas e físicas). É a área de engenharia que se ocupa dos temas relacionados com TI (Tecnologias de Informação) 
                        e SI (Sistemas de Informação).</p>
                </ul>
            </div>
        </div>
        <hr>
        <div class="Cur">
            <h3><strong>Curiosidades</strong></h3>
            <p>Existem algumas curiosidades sobre engenharia interessantes para quem quiser amadurecer na área:</p>
            <ul>
                <li>Amplitude na oferta de cursos</li>
                <p>Existe uma enorme variedade de cursos, todos muito diferentes e específicios na área de estudo</p>
                <li>Engenharia não se resume apenas a cálculos</li>
                <p>Apesar de existir muito cálculo, existem várias outras matérias, específicas à engenharia escolhida</p>
                <li>Mesmas disciplinas</li>
                <p>A princípio, durante a graduação, todos os cursos de engenharia possuem as mesmas disciplinas básicas.</p>
                <li>Muitos não entendem a profissão</li>
                <p>Algumas engenharias conseguem ser polivalentes, não tendo um cargo ou posição específica no mercado, mas várias que abrangem o ramo.</p>
            </ul>
        </div>
{% endblock %}